@keyframes scroll {
    0% {background-position-x: 766px;}
    100% {background-position-x: -766px;}
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 1366px;
    height: 760px;
    background-size: cover;
}

.layer:nth-child(1) {
    background-image: url("./img/01_Sky.png");
    animation: scroll 240s infinite linear;
}

.layer:nth-child(2) {
    background-image: url("./img/02_Stars.png");
    animation: scroll 230s infinite linear;
}

.layer:nth-child(3) {
    background-image: url("./img/03_Moon.png");
    animation: scroll 220s infinite linear;
}

.layer:nth-child(4) {
    background-image: url("./img/04_Cloud.png");
    animation: scroll 80s infinite linear;
}

.layer:nth-child(5) {
    background-image: url("./img/05_Cloud.png");
    animation: scroll 70s infinite linear;
}

.layer:nth-child(6) {
    background-image: url("./img/06_Cloud.png");
    animation: scroll 60s infinite linear;
}

.layer:nth-child(7) {
    background-image: url("./img/07_Cloud.png");
    animation: scroll 50s infinite linear;
}

.layer:nth-child(8) {
    background-image: url("./img/08_Cloud.png");
    animation: scroll 46s infinite linear;
}

.layer:nth-child(9) {
    background-image: url("./img/09_Cloudsmall.png");
    animation: scroll 44s infinite linear;
}

.layer:nth-child(10) {
    background-image: url("./img/10_Cloudsmall.png");
    animation: scroll 42s infinite linear;
}

.layer:nth-child(11) {
    background-image: url("./img/11_Mountains.png");
    animation: scroll 80s infinite linear;
}

.layer:nth-child(12) {
    background-image: url("./img/12_Desert.png");
    animation: scroll 38s infinite linear;
}