main {
    width: 800px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background-color: tomato;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 3s ease;
}

.wrapper:hover {
    transform: rotate(45deg);
}

.card {
    background-color: wheat;
    width: 150px;
    height: 150px;
    transition: transform 1s ease;
}

.card:hover {
    background-color: burlywood;
    transform: translate(10%, 10%) scale(1.1);
}

.card:active {
    background-color: black;
}