/* MENU HAMBURGUESA */
.navbar {
    background-color: var(--dark-color);
    height: 100vh;
    opacity: 0.8;
    transform: translate(-400px);
    transition: transform .5s ease;
    z-index: 1;
}

.navbar.active {
    transform: translate(0px);
}

.navbar ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
}

.navbar li {
    display: block;
    margin: 0;
    padding: 5% 50px;
    width: 100%;
    font-size: var(--h4-font);
}

.navbar li:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.navbar li a {
    color: var(--tertiary-color);
    text-decoration: none;
}

.hamburger-container {
    position: fixed;
    margin-left: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    z-index: 2;
}

.hamburger {
    padding: 0;
    float: left;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger .line {
    width: 50px;
    height: 5px;
    background-color: var(--dark-color);
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.hamburger.active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.active .line:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}

.hamburger.active .line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}