.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu main main main main'
    'menu menu footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
}

.comp1 { grid-area: header; }
.comp2 { grid-area: menu; }
.comp3 { grid-area: main; }
.comp4 { grid-area: footer; }

.input_imagen {
  display: none;
}
